*
{
    padding: 0;
    margin: 0;
    font-family: 'corbel';
}
body
{
    color: aliceblue;
    min-height: 100vh;
    background-image: url(./assets/un.jpg);
    background-size: cover;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.logo
{
    height: 170px;
    width: 170px;
}

header a img
{
    height: 90px;
    width: 90px;
    mix-blend-mode: lighten;
}
.container
{
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}
.lcol
{
    margin-left: 5%;
}

.lcol img
{
    mix-blend-mode: lighten;
    height: 400px;
    width: 400px;
    filter: hue-rotate(210deg);
}

.rcol
{
    margin-right: 10%;
}

.convo
{
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    position: relative;
    height: 400px;
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}
#text1{
    
    position: absolute;
    width: auto;
    margin-top: 10px;
    right:20px;
    height: auto;
}
#text2{
    height: auto;
    position: absolute;
    width: auto;
    padding-right: 40px;
    margin-top: 45px;
}
/* Style the select element */

#language {
    
    margin-left:90%;
    margin-top: 2%;
    font-size: 16px;
    padding: 10px 40px;
    border: #000000;
    border-radius: 15px;
    background-color: #000000d7;
    color: #ffffff;
  }
  
  /* Style the option elements */
#language option {
    font-size: 14px;
    padding: 8px;
   
    border-radius: 4px;
    background-color: #000000;
    color: #fffbfb;
  }
  

.btn
{
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-left: 7%;
    padding: 10px 90px;
    position: relative;
}

.btn:hover
{
    border-color: rgb(58, 143, 255);
    color: rgb(58, 143, 255);
    transition: 0.8s;
    cursor: pointer;
}

@media only screen and (max-width:810px) {
    body{
        min-height: 100vh;
        background-size: cover;
    }

    .convo
    {
        position: relative;
        left: 50%;
    }

    .lcol img
    {
        display: none;
    }
    .rcol
    {
        margin: 40%;
    }
    .btn{
        margin-top: 90px;
        margin-right: 0;
    }
}
