*
{
    padding: 0;
    margin: 0;
    font-family: 'corbel';
}
body
{
    color: aliceblue;
    min-height: 100vh;
    background-image: url(./assets/un.jpg);
    background-size: cover;

}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.convo {
    height: 300px; /* set the height to your desired value */
    overflow: auto;
}
.convo::-webkit-scrollbar {
    background-color: transparent;
    border: none;
}
/* add any additional styling for the conversation module */


.logo
{
    height: 170px;
    width: 170px;
}

header a img
{
    height: 90px;
    width: 90px;
    mix-blend-mode: lighten;
}
.container
{
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}
.lcol
{
    margin-left: 5%;
}

.lcol img
{
    mix-blend-mode: lighten;
    height: 400px;
    width: 400px;
    filter: hue-rotate(210deg);
}

.rcol
{
    margin-right: 10%;
}

.convo
{
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    position: relative;
    height: 400px;
    width: 300px;
    padding: 30px;
    border-radius: 40px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}
#text1{
    
    position: absolute;
    width: auto;
    margin-top: 10px;
    right:20px;
    height: auto;
}
#text2{
    height: auto;
    position: absolute;
    width: auto;
    padding-right: 40px;
    margin-top: 45px;
}

/* Style the select element */
/* 
.wrapper{
    width:370px;
    margin: 130px auto 0;
}

.select-btn{
    height: 45px;
    font-size:20px;
    color: #000000;
    align-items: center;
    display: flex;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 7px;
    background: white;
    justify-content: space-between;
}
.select-btn i{
    font-family: 31px;
}
.content{
    color: #000000;
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background: white;
}
.content .search{
    position: relative;
}

.search i{
    left: 15px;
    line-height: 53px;
    position: absolute;
}

.search input{
    height: 43px;
    width: 80%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid rgb(75, 75, 75);
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    
}

.options li{
    height:50px;
    padding: 0 13px;
    font-size:  20px;
    border-radius: 5px;
}
.options li:hover{
    background-color: #fffbfb;
} */

.access{
    position: relative;
    margin-top:110%;
    margin-left: 50%;
    
}

.access_button{
    
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #5f77e4be;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease; 
    
}

#language {
    
    margin-left:90%;
    margin-top: 2%;
    font-size: 16px;
    padding: 10px 40px;
    border: #000000;
    border-radius: 15px;
    background-color: #000000d7;
    color: #ffffff;
    overflow-y: auto;
  }
  
  /* Style the option elements */
#language option {
    font-size: 14px;
    padding: 8px;
   
    border-radius: 4px;
    background-color: #000000;
    color: #fffbfb;
  }
  

#access:hover
{
    border-color: rgb(58, 143, 255);
    color: rgb(58, 143, 255);
    transition: 0.8s;
    cursor: pointer;
}
  
.btn
{
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-left: 7%;
    padding: 10px 90px;
    position: relative;
}

.btn:hover
{
    border-color: rgb(58, 143, 255);
    color: rgb(58, 143, 255);
    transition: 0.8s;
    cursor: pointer;
}



/* for loading page */


.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }

@media only screen and (max-width:810px) {
    body{
        min-height: 100vh;
        background-size: cover;
    }
    header img{
        position: relative;
        margin-bottom: 10%;
        margin-left: 40% ;

    }
    .convo
    {
        position: relative;
       
    }

    .lcol img
    {
        display: none;
        position: absolute;
        
        }

    .rcol
    {
        margin: 10%;
        margin-top: 10%;
        margin-left:10% ;
    }
    .btn{
        margin-top: 90px;
        margin-right: 0;
    }
    #text2{
        position: relative;
        align-items: left;
    }
    .btn{
   position: absolute;
   padding: 10px 50px;
    }
    .access{
        position: relative;
        margin-top:90%;
        margin-left: 50%;
        
    }
    
}
